@defining(play.core.PlayVersion.current) { version =>
    <script>
            window.onload = getProfilePic();
    </script>
    <body>
        <nav>
            <div class="nav-container">
                <div class="nav-icons">
                    <ul>
                        <li>
                            <a href="@routes.QuizController.quiz()">
                                <div class="icon-container">
                                    <img src="@routes.Assets.versioned("images/rescueReadyMain.png")" alt="Quiz" class="icon-image">
                                    <p class="nav-text">Rescue Ready Quiz</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="navbar-right">
                    <ul>
                        <li>
                            <a href="@routes.ShopController.shop()" >
                                <p class="nav-text">Shop</p>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.ProfileController.friends()" >
                                <p class="nav-text">Freunde</p>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.ScoreboardController.highscore()" >
                                <p class="nav-text">Highscores</p>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.ProfileController.profile()" >
                                <div class="icon-container">
                                    <p class="nav-text">Profil</p>
                                    <img src="@routes.Assets.versioned("images/profilePics/profilePic.png") " alt="ProfilePic" id="profileImg">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
}
