.header {
    gap: 10px;
}

.header img {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.friendHighscores-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px black;
}

.friendHighscores-table table thead tr {
    background-color: #24265f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

.friendHighscores-table table th,
.friendHighscores-table table td {
    padding: 15px;
}

.friendHighscores-table table tbody tr {
    border-bottom: 1px solid #000000;
}

.friendHighscores-table table tbody {
    background-color: #ffffff;
}

#friendProfile-buttons {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#friendProfile-button {
    width: 50%;

}