/* global.css */

/* Grundlegende Formatierung */
body {
    font-family: Arial, sans-serif; /* Moderne, gut lesbare Schriftart */
    color: black; /* Grundfarbe für den Text */
    background-color: darkgrey; /* Hintergrundfarbe der Website */
    margin: 0;
    padding: 10%;
    line-height: 1.6;
    background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

/* Kopf- und Fußzeile */
header, footer {
    color: #333;
    padding: 20px 0;
    height: 5%;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Hauptnavigation */
nav {
    background-color: rgba(239, 239, 239, 1);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 5%;
    display: flex;
}
.logo img, .nav-icons a{
    max-height: 40px;
    width: auto;
}


.nav-icons a {
    text-decoration: none;
    color: #24265f;
    margin-left: 20px;
}


ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.login-icon {

}
.profile-icon {

}

.highscore-icon {

}

.logout-icon {

}

/* Abschnittsüberschriften */
h1, h2, h3, h4, h5, h6 {
    color: #24265f;
    font-family:  Arial, sans-serif;

}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* Text und Links */
p {
    margin-bottom: 1em;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

/* Buttons und Formularelemente */
button, input[type="submit"], input[type="button"]{
    background-color: #24265f;
    color: #ffffff;
    border: none;
    width: 250px;
    border-radius: 6px;
    padding: 10px 5px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0057a3;
}

/*input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}*/

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Container&Content Klassen für SignUp Login und Profile evtl. acuh für Highscore */
.container {
    width: 609px;
    height: 430px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.form-container{
    text-align: left;
}

.container > div{
    text-align: left;
}

.profile-picture {
    width: 170px;
    height: 170px;
    border-radius:50%;
    margin-top: 17px;

}

.signup-option{
   margin-top: 100px;
    text-align: center;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="email"],input[type="file"], select[id="gender"]{
    width: 250px; /* Ändere die Breite nach Bedarf */
    padding: 10px;
    margin: 0 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.profile-editor {
    display: none; /* Edit-Ansicht standardmäßig ausblenden */
}



