.highscores-table-container {
    max-height: 50vh;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px black;
}

.highscores-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.highscores-table thead tr {
    background-color: #24265f;
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
}
.highscores-table th,
.highscores-table td{
    padding: 10px;

}
.highscores-table tbody tr {
    border-bottom: 1px solid #000000;
}

.highscores-table tbody{
    background-color: #ffffff;
}

.highscores-table img {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

#highscoreSwitch-buttons {
    width: 93%;
    gap: 5px;
    display: flex;
}

#highscoreSwitch-buttons button {
    width: 33%;
}