
.login-container {
    text-align: center;
    border: 3px solid #b0b5b1;
    padding: 20px;
}

label {
    display: block;
}
.signupOption{
    text-align: center;
    padding: 5px;
}
#signUpLink {
    color: blue;
    text-decoration: underline;
}