#user-name {
    text-decoration: underline;
}

#profilePicture1 {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

#profilePicture2 {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

/*
#friendProfile-buttons {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#friendProfile-button {
    width: 33%;
}
 */

.profile-editor {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-profile-pic-container, .edit-profile-data-container {
    width: 100%;
}

.profile-editor p {
    font-size: 1.6em;
    color: black;
    font-family: Arial, sans-serif;
    margin: 10px;
}

.profile-editor input {
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    padding: 5px;
}