#user-name {
    text-decoration: underline;
}

#profilePicture1 {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

#profilePicture2 {
    border-radius: 50%;
    width: 300px;
    height: auto;
}