#shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(239, 239, 239, 1);
    gap: 10px;
}

#shop-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#shop-header div:first-child {
    margin-right: auto;
}

#owned-coins {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

#stock-text {
    margin-bottom: 7px;
}

.joker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(239, 239, 239, 1);
}

.joker-item {
    width: 30%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joker-picture img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.joker-text {
    width: 30%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
}

#buy-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#buy-text {
    margin-bottom: 7px;
    margin-right: 10px;
}

#buy-image img {
    max-height: 30px;
    max-width: 30px;
}