#shop-container {
    gap: 10px;
}

#header-inner-container {
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    margin-left: auto;
}

#stock-image img {
    max-height: 30px;
    max-width: 30px;
    margin-top: 5px;
}

#fiftyFiftyJoker-container, #pauseJoker-container, #doubleItJoker-container {
    flex-direction: row;
    padding: 5px;
    gap: unset;
}

.joker-item {
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joker-picture img {
    max-width: 42%;
    height: auto;
    display: block;
    margin: 5px;
}

#fiftyFiftyJoker-text, #pauseJoker-text, #doubleItJoker-text {
    gap: 10px;
}

#shop-h4 {
    font-size: 1.1em;
    text-decoration: underline;
}

#golden-text {
    color: #a48f38;
}

#buy-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#buy-text {
    margin-bottom: 7px;
    margin-right: 10px;
}

#buy-image img {
    max-height: 30px;
    max-width: 30px;
}

#fiftyFiftyJoker-buy button,
#pauseJoker-buy button,
#doublePointsJoker-buy button {
    width: 75%;
    margin-bottom: 5px;
}


