
@(question: String, answers: List[String], score: Int)

@index("Quiz") {
    @defining(play.core.PlayVersion.current) { version =><!DOCTYPE html>
        <body>
            <h1>Quiz</h1>
            <h3 id="current-score" style="font-size: 18px; color: #333;"></h3>

            <div id="start-quiz-container">
                <button onclick="startQuiz()">Quiz starten</button>
            </div>

            <div id="question-container" style="display: none;">
                <p id="question"></p>
                <form id="answer-form">
                        <!-- Hier werden die Antwortmöglichkeiten angezeigt -->
                    @for(answer <- answers) {
                        <label>
                            <input type="radio" name="answer" value="@answer">@answer
                        </label><br>
                        }
                </form>
                <button onclick="checkAnswer()">Antwort überprüfen</button>
                <button onclick="getNextQuestion()">Nächste Frage</button>
                <div id="result"></div>
                <div id="console"></div>

                <div id="end-quiz-container" style="display: none;">
                    <button onclick="safeQuizResult()">Quiz beenden</button>
                </div>

            </div>
        </body>


    }
}
