@index("Quiz") {
    @defining(play.core.PlayVersion.current) { version =><!DOCTYPE html>
        <body>
            <h1>Quiz</h1>
            <span id="timer" style="display: none;">0:00</span>
            <h3 id="current-score" style="font-size: 18px; color: #333;"></h3>

            <div id="start-quiz-container">
                <button onclick="startQuiz()">Quiz starten</button>
            </div>

            <div id="question-container" style="display: none;">
                <p id="question"></p>
                <form id="answer-form">

                </form>

                <div id="button-container" style="display: none;">
                    <button id="check-answer-button" onclick="checkAnswer()">Antwort überprüfen</button>
                    <button id="next-question-button" onclick="getNextQuestion()">Nächste Frage</button>
                    <button id="end-quiz-container" onclick="saveEndScore()">Quiz beenden</button>
                </div>

                <div id="result"></div>
                    <!-- console war nur zum Testen (Löschen?) -->
                <div id="console"></div>
            </div>
        </body>
    }
}
