@(friends: List[interfaces.User],users: List[interfaces.User])

@index("Freunde") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="sizeAble-container" id="friends-container">
            <div class="header">
                <h1>Freunde</h1>

            </div>

            @if(!friends.isEmpty) {
            <div class="inner-container" id="friendList-container">
                <div class="friend-list">
                    @for(friend <- friends) {
                        <li>
                            <img src="@routes.Assets.versioned("" + friend.getProfilePicPath)" alt="Profile Picture">
                            <a id="friendName" href="@routes.ProfileController.friendProfile(friend.getId)" >@friend.getName</a>
                            <button onclick="openChat(@friend.getId)" data-receiver-id="@friend.getId()">Chat</button>
                            <button class="alternativ-button" onclick="removeFriend(@friend.getId)">Entfernen</button>
                        </li>
                    }
                </div>

                <div id="chat-container" class="chat-container" style="display: none;">
                    <div id="chat-messages" class="chat-messages"></div>
                    <input type="text" id="chat-input" class="chat-input" placeholder="Schreibe eine Nachricht...">
                    <button id="chat-send" class="chat-send">Senden</button>
                </div>
            </div>
            }

            <div class="inner-container" id="userAdd-container">
                <div id="userAdd-text">
                    <h3>Neuen Freund hinzufügen:</h3>
                </div>

                <div class="row-container" id="friendAdd-send">
                    <div class="friendAddInputContainer">
                        <input class="friendAddInput" type="text" id="newFriend" name="friend" required placeholder="Hier Namen eingeben">
                    </div>
                    <div id="friendAdd-button">
                        <button id="add-button">Suchen</button>
                    </div>
                </div>

                <div class="user-list">
                @for(user <- users) {
                    <li>
                        <img src="@routes.Assets.versioned(user.getProfilePicPath())" alt="Profile Picture">
                        <a id="userName" href="@routes.ProfileController.friendProfile(user.getId)">@user.getName</a>
                        <button class="add-friend-button" data-user-id="@user.getId">Hinzufügen</button>
                    </li>
                }
                </div>
            </div>
        </div>

    }
}