@(friend: interfaces.User, quizHighscores: Map[String, Integer])

@index("FriendProfile") {
    @defining(play.core.PlayVersion.current) { version =>
        <body>
            <div class="container" id="profile-container">
                <div class="content">
                    <div class="profile-display">
                        <img id="profile-picture" class="profile-picture" src="@routes.Assets.versioned("images/profilePics/" + friend.getProfilePicPath)" alt="Profilbild">
                        <h1 id="user-name">@friend.getName</h1>
                        <div class="highscores-table">
                        @if(quizHighscores.isEmpty) {
                            <p>Keine Highscores verfügbar.</p>
                        } else {
                            <table>
                                <thead>
                                    <tr>
                                        <th>Quiz</th>
                                        <th>Highscore</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for((quizName, highscore) <- quizHighscores) {
                                    <tr>
                                        <td>@quizName</td>
                                        <td>@highscore</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                        </div>

                    </div>
                </div>
            </div>
        </body>
    }
}