@(friend: interfaces.User, highscores: List[interfaces.Highscore])

@index("FriendProfile") {
    @defining(play.core.PlayVersion.current) { version =>
        <body>
            <div class="sizeAble-container" id="profile-container">
                <div class="header column-container" id="profile-header">
                    <img id="profilePicture"  src="@routes.Assets.versioned("" + friend.getProfilePicPath)" alt="Profilbild">
                    <h2 id="user-name">Profil von @friend.getName</h2>
                </div>

                <div class="highscores-table-container">
                    <div class="friendHighscores-table">
                    @if(highscores.isEmpty) {
                        <h3>Keine Highscores verfügbar.</h3>
                    } else {
                        <table>
                            <thead>
                                <tr>
                                    <th>Quiz</th>
                                    <th>Highscore</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for((highscore) <- highscores) {
                                <tr>
                                    <td>@highscore.getQuizName<td>
                                    <td>@highscore.getScore<td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    </div>
                </div>

                <div id="friendProfile-buttons">
                    <button class="medium-button" id="friendProfile-button">Chat</button>
                    <button class="alternativ-button medium-button" id="friendProfile-button" onclick="window.location.href='@routes.ProfileController.friends()'">Zurück</button>
                </div>

            </div>
        </body>
    }
}