
@(highscores: List[models.HighscoreFactory#Highscore], categories: Map[Integer, String])

@index("Highscores") {
    @defining(play.core.PlayVersion.current) { version =>
    <body>
        <h1>Highscore</h1>
        <table class="content-table">
            <thead id="highscoreTableHead">
                <tr>
                    <td>Name</td>
                    <td>Score</td>
                </tr>
            </thead>
            <tbody id="highscoreTableBody">
                @for(value <- highscores){
                    <tr>
                        <td>@value.getUserName</td>
                        <td>@value.getScore<td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @for(value <- categories ){
                <button onclick="selectHighscore(this.id)" type="button" id=@value._1> @value._2 </button>
            }
        </div>
    </body>
    }
} 