@(highscores: List[Highscore])

@index("Profil") {
    @defining(play.core.PlayVersion.current) { version =>
        <section id="content">
            <h1>Highscores</h1>

            <table id="highscoreTable">
                <thead id="highscoreTableHead">
                    <tr>
                        <td>Name</td>
                        <td>Score</td>
                    </tr>
                </thead>
                <tbody id="highscoreTableBody">
                    @for(value <- highscores){
                        <tr>
                            <td>@value.getName</td>
                            <td>@value.getScore</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    }
}