@(highscores: List[interfaces.Highscore], quizzes: Map[Integer, String])

@index("Highscores") {
    @defining(play.core.PlayVersion.current) { version =>

        <body>

            <div class="sizeAble-container">
                <div class="header">
                    <h3 id="highscoreTitle"></h3>
                </div>

                <div class="highscores-table-container">
                    <div class="highscores-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(value <- highscores) {
                                    <tr>
                                        <td class="row-container">
                                            <img src="@routes.Assets.versioned(value.getProfilePicPath)" alt="Profile Picture">
                                            <a id="highscore-username" href="@routes.ProfileController.friendProfile(value.getUserId)">@value.getUserName</a>
                                        </td>
                                        <td>@value.getScore</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="highscoreSwitch-buttons">
                @for(quiz <- quizzes) {
                    <button onclick="selectHighscore(this.id); changeQuizName('@quiz._2')" type="button" id="@quiz._1">@quiz._2</button>
                }
                </div>

            </div>
        </body>
    }
}
