@*
* This template is called from the `main` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/globalStyle.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/prism.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/login.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/signUp.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/quiz.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/shop.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/friends.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/friendProfile.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/highscore.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/profile.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <!--Durch das Hinzufügen von defer wird sichergestellt, dass die Skripte in der Reihenfolge, in der sie im Dokument erscheinen, geladen und ausgeführt werden, aber erst nachdem das Parsing des HTML-Dokuments abgeschlossen ist -->
        <script src='@routes.Assets.versioned("javascripts/prism.js")' type="text/javascript" defer></script>
        <script src='@routes.Assets.versioned("javascripts/login.js")' type="text/javascript" defer></script>
        <script src='@routes.Assets.versioned("javascripts/navBar.js")' type="text/javascript" defer></script>
        <script src='@routes.Assets.versioned("javascripts/profile.js")' type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/shop.js")" type="text/javascript" defer> </script>
        <script src="@routes.Assets.versioned("javascripts/quiz.js")" type="text/javascript" defer> </script>
        <script src="@routes.Assets.versioned("javascripts/friends.js")" type="text/javascript" defer> </script>
        <script src="@routes.Assets.versioned("javascripts/highscoreSelection.js")" type="text/javascript" defer> </script>
        <script src="@routes.Assets.versioned("javascripts/getSetUserData.js")" type="text/javascript" defer> </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
            <!--  <input type="button" value="login" onclick="window.location.href=' @routes.LoginController.login'"> -->
        @if(title != "Login" && title != "SignUp") {
            <nav>
            @components.navBar()
            </nav>
        }
        @content
    </body>

</html>