@index("Login") {
    @defining(play.core.PlayVersion.current) { version =>
        <section id="content">
            <div class="login-container">
                <img src="@routes.Assets.versioned("images/rescueReadyIcon.png")" alt="Rescue Ready Logo" width="250" height="250">
                    <h2>Login</h2>
                    <form id="loginForm">
                        <label for="username">Benutzername:</label>
                        <input type="text" id="username" name="username"  placeholder="Benutername" required><br><br>

                        <label for="password">Passwort:</label>
                        <input type="password" id="password" name="password" required placeholder="Passwort"><br><br>

                        <input type="button" value="Login" onclick="checkLogin()">

                    </form>
            </div>
            <div class="signupOption">
                <span>Noch keinen Account?</span>
                <a id="signUpLink" href="@routes.HomeController.signup()">SignUp</a>
            </div>
        </section>
    }
}


