@index("Login") {
    @defining(play.core.PlayVersion.current) { version =>
        <head>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/globalStyle.css")">
        </head>
            <body>
        <section class="container">
            <div class="content">
                <!--<img class= "profile-picture" src="@routes.Assets.versioned("images/rescueReadyIcon.png")" alt="Rescue Ready Logo" width="250" height="250"> -->

                    <h2>Login</h2>
                    <form id="loginForm" onsubmit="event.preventDefault(); checkLogin();">
                        <label for="username"></label>
                        <input type="text" id="username" name="username"  placeholder="Benutzername" required><br><br>

                        <label for="password"></label>
                        <input type="password" id="password" name="password" placeholder="Passwort"  required ><br><br>

                        <input type="submit" value="Login" class="button-signup-registration">

                    </form>

            </div>

        </section>

                <div class="signupOption">
                    <span>Noch keinen Account?</span>
                    <a class="link" href="@routes.HomeController.signup()">SignUp</a>
                </div>
            </body>
    }
}


