<!DOCTYPE html>
<html lang="de-DE">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style_MainPage.css">
  <!--<script type="text/javascript" src="functions.js"></script>-->
  <title>Main</title>
</head>
<body>
  <!--<nav>
    <ul>
      <li><a href="login.html">Login</a></li>
      <li><a href="main.html">Main</a></li>
      <li><a href="profile.html">Profile</a></li>
      <li><a href="highscore.scala.html">Highscore</a></li>
    </ul>
  </nav>-->
<h1>RescueReady</h1>
<img src="/assets/images/RescueReady.png" alt="RescueReady" id="rescueReadyImage">
</body>
</html>