@()


@index("Main") {
    @defining(play.core.PlayVersion.current) { version =>

        <section id="content">
            <nav>
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="main">Main</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="highscore">Highscore</a></li>
                </ul>
            </nav>
            <div>
                <h1>RescueReady</h1>
                <img src="assets/images/rescueReady.png" alt="RescueReady" id="rescueReadyImage">
            </div>
        </section>
    }
}