<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style_MenuBar.css">
  <title>Menu Bar</title>
</head>

<body>
<ul class="menu">
  <!-- Referenzen auf die verlinkten Seiten -->
  <li class="menu-item"><a href="mainPage.scala.html"><i class="fas fa-home"></i></a></li>
  <li class="menu-item"><a href="profile.scala.html"><i class="fas fa-user"></i></a></li>
  <li class="menu-item"><a href="highscore.scala.html"><i class="fas fa-trophy"></i></a></li>
  <li class="menu-item"><a href="/LoginPage"><i class="fas fa-sign-in-alt"></i></a></li>
</ul>
</body>
</html>
