@()


@index("Profile") {
    @defining(play.core.PlayVersion.current) { version =>
        <section id="content">
            <div class="profile">
                <div class="profile-display">
                    <img id="profile-picture" src="assets/images/profilePic.png" alt="Profilbild">
                    <h1 id="user-name">Franco Di Milano</h1>
                    <p id="achievement-points">Achievement Points: <span id="points">100</span></p>
                    <button id="edit-button">Edit</button>
                </div>
                <div class="profile-editor">
                    <div class="profile-picture-edit-container">
                        <input type="file" id="file-input" accept="image/*" style="display: none">
                        <label for="file-input">
                            <img id="profile-picture-edit" src="assets/images/profilePic.png" alt="Profilbild">
                        </label>
                        <button id="change-pic-button">Edit Picture</button>
                    </div>
                    <div class="edit-name-container">
                        <p id="name-label">Name:</p>
                        <label for="name-input"></label><input type="text" id="name-input">
                    </div>
                    <button id="save-button">Save</button>
                </div>
            </div>
        </section>
    }
}