@(user: interfaces.User, highscores: List[interfaces.Highscore])

@index("Profile") {
    @defining(play.core.PlayVersion.current) { version =>
        <body>
            <div class="sizeAble-container" id="profile-container">
                <div class="header column-container" id="profile-header">
                    <img id="profilePicture1"  src="@routes.Assets.versioned("" + user.getProfilePicPath)" alt="Profilbild">
                    <h2 id="user-name">Hallo @user.getName</h2>
                </div>

                <div class="highscores-table-container">
                    <div class="friendHighscores-table">

                        <table>
                            <thead id="highscoreTableHead">
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody id="highscoreTableBody">
                            @for(value <- highscores){
                                <tr>
                                    <td>@value.getQuizName</td>
                                    <td>@value.getScore</td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div id="friendProfile-buttons">
                    <button class="medium-button" id="friendProfile-button" onclick = "editProfile()">Bearbeiten</button>
                    <button class="alternativ-button medium-button" id="logout-button" onclick="logout()">Logout</button>
                </div>
            </div>
        </body>

    <body>
        <div class="sizeAble-container" id="editProfile-container" style="display: none">
            <img id="profilePicture2"  src="@routes.Assets.versioned("" + user.getProfilePicPath)" alt="Profilbild">
            <div class="profile-editor">
                <div class="edit-profile-pic-container">
                    @helper.form(action = routes.ProfileController.saveChangesToProfilePic(), Symbol("enctype") -> "multipart/form-data") {
                        <p id="profilePic-label">Profilbild:</p>
                        <input id="newProfilePicture" type="file" name="picture">
                    }
                </div>
                <div class ="edit-profile-data-container">
                    <p id="name-label">Name:</p>
                    <input type="text" id="name-input" value = @user.getName>
                    <p id="password-label">Password:</p>
                    <input type="text" id="password-input" value = @user.getPassword>
                    <p id="email-label">Email:</p>
                    <input type="text" id="email-input" value = @user.getMail>
                </div>
                <button onclick="saveChanges()"> Änderungen speichern</button>
            </div>
        </div>
    </body>
    }
}