@(user: UserFactory#User)

@index("Shop") {
    @defining(play.core.PlayVersion.current) { version =>
        <div id="shop-container">
            <div id="shop-header">
                <div id="placeholder"></div>

                <div id="shop">
                    <h1>Shop</h1>
                </div>

                <div id="owned-coins">
                    <div id="stock-text">
                        @user.getCoins
                    </div>
                    <div id="buy-image">
                        <img src="@routes.Assets.versioned("images/coin.png")" alt="Coin">
                    </div>
                </div>
            </div>

            <div id="fiftyFiftyJoker-container" class="joker-container">
                <div id="fiftyFiftyJoker-picture" class="joker-item joker-picture">
                    <img src="@routes.Assets.versioned("images/fiftyFiftyJoker.png")" alt="Fifty-Fifty Joker">
                </div>
                <div id="fiftyFiftyJoker-text" class="joker-text">
                    <h3>50:50 Joker</h3>
                    <h4>Entfernt zwei falsche Antworten für die aktuelle Frage</h4>
                </div>
                <div id="fiftyFiftyJoker-buy" class="joker-item joker-buy">
                    <p>In Besitz: @user.getFiftyFiftyJoker</p>
                    <div id="buy-content">
                        <div id="buy-text">
                            <p>5</p>
                        </div>
                        <div id="buy-image">
                            <img src="@routes.Assets.versioned("images/coin.png")" alt="Coin">
                        </div>
                    </div>
                    <button onclick="buyFiftyFiftyJoker()">Buy</button>
                </div>
            </div>

            <div id="pauseJoker-container" class="joker-container">
                <div id="pauseJoker-picture" class="joker-item joker-picture">
                    <img src="@routes.Assets.versioned("images/pauseJoker.png")" alt="Pause Joker">
                </div>
                <div id="pauseJoker-text" class="joker-text">
                    <h3>Pause Joker</h3>
                    <h4>Pausiert die Zeit für die aktuelle Frage</h4>
                </div>
                <div id="pauseJoker-buy" class="joker-item joker-buy">
                    <p>In Besitz: @user.getPauseJoker</p>
                    <div id="buy-content">
                        <div id="buy-text">
                            <p>7</p>
                        </div>
                        <div id="buy-image">
                            <img src="@routes.Assets.versioned("images/coin.png")" alt="Coin">
                        </div>
                    </div>
                    <button onclick="buyPauseJoker()">Buy</button>
                </div>
            </div>

            <div id="doubleItJoker-container" class="joker-container">
                <div id="doubleItJoker-picture" class="joker-item joker-picture">
                    <img src="@routes.Assets.versioned("images/doubleItJoker.png")" alt="Double It Joker">
                </div>
                <div id="doubleItJoker-text" class="joker-text">
                    <h3>Double It Joker</h3>
                    <h4>Verdoppelt die Punkte für die aktuelle Frage</h4>
                </div>
                <div id="doubleItJoker-buy" class="joker-item joker-buy">
                    <p>In Besitz: @user.getDoublePointsJoker</p>
                    <div id="buy-content">
                        <div id="buy-text">
                            <p>9</p>
                        </div>
                        <div id="buy-image">
                            <img src="@routes.Assets.versioned("images/coin.png")" alt="Coin">
                        </div>
                    </div>
                    <button onclick="buyDoubleItJokerJoker()">Buy</button>
                </div>
            </div>
        </div>
    }
}