@(user: interfaces.User, jokers: List[interfaces.Joker])

@index("Shop") {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="sizeAble-container" id="shop-container">
            <div class="header" id="shop-header">
                <div class="left"></div>

                <div class="center">
                    <h1>Shop</h1>
                </div>

                <div class="right">
                    <div  id="header-inner-container">
                        <div>
                            <h5 class="golden-text" id="stock-text">@user.getCoins</h5>
                        </div>
                        <div id="stock-image">
                            <img src="@routes.Assets.versioned("images/coin.png")" alt="Coin">
                        </div>
                    </div>
                </div>
            </div>


                @for(joker <- jokers) {
                    <div class="inner-container" id="oneJoker-container">
                        <div class="joker-item joker-picture">
                            <img src="@routes.Assets.versioned("" + joker.getJokerPicPath)" alt="JokerPic">
                        </div>
                        <div id="joker-text" class="joker-item">
                            <h3>@joker.getName</h3>
                            <h5>@joker.getDescription</h5>
                        </div>
                        <div id="joker-buy" class="joker-item joker-buy">
                            <div class="row-container">
                                <h4 class="shop-h4-size" id="shop-h4" >In Besitz:</h4>
                                <h4 class="shop-h4-size" id="@joker.getId">@joker.getAmount</h4>
                            </div>
                            <div id="buy-content">
                                <div id="buy-text">
                                    <h5 class="golden-text">@joker.getPrice</h5>
                                </div>
                                <div id="buy-image">
                                    <img src="@routes.Assets.versioned("images/coin.png")" alt="Coin">
                                </div>
                            </div>
                            <button onclick="buyJoker(@joker.getId)">Buy</button>
                        </div>
                    </div>
                }
        </div>
    }
}