@index("SignUp") {
    @defining(play.core.PlayVersion.current) { version =>
        <section class="container">
            <h1>SignUp</h1>
            <form id="signUpForm" onsubmit="event.preventDefault(); signup();">
                <div class="input-container">
                    <h4>Benutzername:</h4>
                    <input type="text" id="newUsername" name="username" placeholder="Wählen Sie einen Benutzernamen" required>

                    <h4>Passwort:</h4>
                    <input type="password" id="newPassword" name="password" required placeholder="Erstellen Sie ein Passwort">

                    <h4>Email:</h4>
                    <input type="email" id="email" name="email" required placeholder="Ihre E-Mail Adresse">
                </div>

                <div>
                    <input type="submit" value="Registrieren" class="medium-button">
                    <input type="submit" class="alternativ-button medium-button" value="zum Login" onclick="window.location.href='@routes.LoginController.login'" style="background-color: #c8c8c8; color: black;">
                </div>
            </form>
        </section>
    }
}