@index("SignUp") {
    @defining(play.core.PlayVersion.current) { version =>
        <section class="container">
            <div class="content">
                <!--<img src="@routes.Assets.versioned("images/rescueReadyIcon.png")" alt="Rescue Ready Logo" width="250" height="250">-->
                <h2>SignUp</h2>
                <form id="signupForm" onsubmit="signup()">
                    <label for="username"></label>
                    <input type="text" id="newUsername" name="username" placeholder="Wählen Sie einen Benutzernamen" required><br><br>

                    <label for="password"></label>
                    <input type="password" id="newPassword" name="password" required placeholder="Erstellen Sie ein Passwort"><br><br>

                    <label for="email"></label>
                    <input type="email" id="email" name="email" required placeholder="Ihre E-Mail Adresse"><br><br>

                    <input type="submit" value="Registrieren">

                </form>
            </div>
        </section>

        <div class="signup-option">
            <span>Zurück zum Login?</span>
            <a id="LoginLink" href="@routes.LoginController.login">Login</a>
        </div>
    }
}
